#multiple-datasets.fullWidth
  %input.typeahead{:placeholder => "Terms and Reports", :type => "text"}
  %i#magnifying-glass-icon.fi-magnifying-glass
.row
  #search_everything_results

/ .row
/   .large-12.columns
/     .row.collapse
/       .small-10.columns
/         #multiple-datasets
/           %input.typeahead{:placeholder => "Terms and Reports", :type => "text"}
/       .small-2.columns
/         %a.button.postfix{:href => "#"} Go