#multiple-datasets .fullWidth {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  width: 100%
}

.tt-menu {
  border-style: solid;
  background-color: white;
  padding: 10px;
}